<div class="tab">
    <button class="tablinks" onclick="openTab('event', 'military')">Military</button>
    <button class="tablinks" onclick="openTab('event', 'economy')">Economy</button>
    <button class="tablinks" onclick="openTab('event', 'culture')">Culture</button>
    <button class="tablinks" onclick="openTab('event', 'espionage')">Espionage</button>
    <button class="tablinks" onclick="openTab('event', 'diplomacy')">Diplomacy</button>
    <button class="tablinks" onclick="openTab('event', 'shop')">Shop</button>
</div>
    
    <div class="row">
        <div class="container">

            <div class="row">
                        <div class="col-md-1">
            
                        </div>
                        
                        <div class="col-md-11" id="maincontent">
