<div class="row" id="header">
        <div class="col-md-10">
            <div class="jumbotron" id="titleleft">
                <h1>My Empire</h1>
            </div>
        </div>
        <div class="col-md-2">
            <div class="jumbotron" id="titleright">
                <ul>
                    <li class="topnav">
                        <%= page.player.title %> <%=page.player.displayName%>
                    </li>
                    <li class="topnav">Messages</li>
                    <li class="topnav">Search</li>

                </ul>
            </div>
        </div>
    </div>