<% include partials/header %> 
<% include partials/title %> 
<% include partials/navigation %>

<div id="military" class="tabcontent">
    <% include military %>
</div>
<div id="economy" class="tabcontent">
    <% include economy %>
</div>
<div id="culture" class="tabcontent">
    <% include culture %>
</div>
<div id="espionage" class="tabcontent">
    <% include espionage %>
</div>
<div id="diplomacy" class="tabcontent">
    <% include diplomacy %>
</div>
<div id="shop" class="tabcontent">
    <% include shop %>
</div>


<% include partials/footer %>