<div class="row">

        <!-- <div class="col-md-1">
            
    </div> -->
    
    <div class="col-md-12">
    
        <section class="infosheet">
            <h4>Troop Movement</h4>
            <div class="row infoitem">
                <div class="col-md-3">
                    <h5>Units</h5>
                    <li>2,800 Assault Marines</li>
                </div>
                <div class="col-md-3">
                    <h5>Origin</h5>
                    <li>Nottingham</li>
                </div>
                <div class="col-md-3">
                    <h5>Destination</h5>
                    <li>Blackburn</li>
                </div>
                <div class="col-md-3">
                    <h5>Details</h5>
                    <li>Conventional Attack</li>
                    <li>Raze</li>
                </div>
            </div>
            <div class="row infoitem">
                <div class="col-md-3">
                    <h5>Units</h5>
                    <li>2,800 Assault Marines</li>
                </div>
                <div class="col-md-3">
                    <h5>Origin</h5>
                    <li>Nottingham</li>
                </div>
                <div class="col-md-3">
                    <h5>Destination</h5>
                    <li>Blackburn</li>
                </div>
                <div class="col-md-3">
                    <h5>Details</h5>
                    <li>Conventional Attack</li>
                    <li>Raze</li>
                </div>
            </div>
        </section>
        <section class="infosheet">
            <h4>Recruit Aircraftmen</h4>
            <div class="row infoitem">
                <div class="col-md-3">
                    <h5>Units</h5>
                    <li>2,800 Assault Marines</li>
                </div>
                <div class="col-md-3">
                    <h5>Origin</h5>
                    <li>Nottingham</li>
                </div>
                <div class="col-md-3">
                    <h5>Destination</h5>
                    <li>Blackburn</li>
                </div>
                <div class="col-md-3">
                    <h5>Details</h5>
                    <li>Conventional Attack</li>
                    <li>Raze</li>
                </div>
            </div>
        </section>
        <section class="infosheet">
            <h4>Launch Operation</h4>
            <div class="row infoitem">
                <div class="col-md-3">
                    <h5>Units</h5>
                    <li>2,800 Assault Marines</li>
                </div>
                <div class="col-md-3">
                    <h5>Origin</h5>
                    <li>Nottingham</li>
                </div>
                <div class="col-md-3">
                    <h5>Destination</h5>
                    <li>Blackburn</li>
                </div>
                <div class="col-md-3">
                    <h5>Details</h5>
                    <li>Conventional Attack</li>
                    <li>Raze</li>
                </div>
            </div>
            <div class="row infoitem">
                <div class="col-md-3">
                    <h5>Units</h5>
                    <li>2,800 Assault Marines</li>
                </div>
                <div class="col-md-3">
                    <h5>Origin</h5>
                    <li>Nottingham</li>
                </div>
                <div class="col-md-3">
                    <h5>Destination</h5>
                    <li>Blackburn</li>
                </div>
                <div class="col-md-3">
                    <h5>Details</h5>
                    <li>Conventional Attack</li>
                    <li>Raze</li>
                </div>
            </div>
        </section>
        <section class="infosheet">
            <h4>Edit Gear</h4>
            <div class="row infoitem">
                <div class="col-md-3">
                    <h5>Units</h5>
                    <li>2,800 Assault Marines</li>
                </div>
                <div class="col-md-3">
                    <h5>Origin</h5>
                    <li>Nottingham</li>
                </div>
                <div class="col-md-3">
                    <h5>Destination</h5>
                    <li>Blackburn</li>
                </div>
                <div class="col-md-3">
                    <h5>Details</h5>
                    <li>Conventional Attack</li>
                    <li>Raze</li>
                </div>
            </div>
            <div class="row infoitem">
                <div class="col-md-3">
                    <h5>Units</h5>
                    <li>2,800 Assault Marines</li>
                </div>
                <div class="col-md-3">
                    <h5>Origin</h5>
                    <li>Nottingham</li>
                </div>
                <div class="col-md-3">
                    <h5>Destination</h5>
                    <li>Blackburn</li>
                </div>
                <div class="col-md-3">
                    <h5>Details</h5>
                    <li>Conventional Attack</li>
                    <li>Raze</li>
                </div>
            </div>
        </section>
    </div>
    </div>